#audio-player
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    background: linear-gradient(135DEG, $deep-cyan, $deep-magenta)
    padding: 10px
    color: black
    #audio-player-controls
        padding: 15px
        text-align: center
        button
            padding: 5px
