#song-list
    .content-wrap
        display: flex
        flex-flow: row wrap
        justify-content: space-between
    .song
        padding: 10px
        background: white
        mix-blend-mode: color
        display: flex
        flex-direction: row
        align-items: center
        margin: 10px 0
        max-width: calc( 50% - 10px)
        #song-picker-cover
            max-height: 150px
            margin-right: 20px
            border: solid black 2px
        #song-picker-title
            font-size: 1.3em
            font-family: $font3
            color: $deep-magenta
            -webkit-text-fill-color: transparent
            background: linear-gradient(to right, $deep-magenta, $deep-cyan)
            -webkit-background-clip: text
            margin-bottom: 10px
        button
            padding: 10px 20px
            font-size: 1.2em
            font-family: $font2
            border: solid $deep-magenta 2px
            border-radius: 5px
            background: white
            color: $deep-magenta
            overflow: hidden
            position: relative
            transition: all 0.3s
            &:hover
                color: $magenta
                border-color: $magenta
